body {
    margin: 0;
    padding: 0;
}

.task-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #4696e5;
    padding: 50px;
}

.add {
    margin-top: 10px;
}

.titre {
    color: white;
    font-size: 70px;
    margin-bottom: 30px;
}

.soustitre {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

.newtask {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border: 1px;
}

.addbtn {
    margin-top: 20px;
    width: 80px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}

.letsgo {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: #878483;
}

hr {
    margin-top: 40px;
    width: 50px;
}

img {
    width: 40px;
    height: 40px;
}

.hrfooter {
    width: 100%;
    margin: 0;
}

footer {
    padding: 80px 40px;
    text-align: center;
    background-color: #faf9f8;
}

.textfooter {
    color: #cfd2d5;
}

.mystyle {
    text-decoration: line-through;
}

.btn {
    width: auto;
    height: 30px;
    color: #838383;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #838383;
    margin-left: 10px;
}

.txt {
    font-size: 20px;
    color: #838383;
    margin-left: 20px;
}

.list {
    display: flex;
}